/* Stili predefiniti (chiari) */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transizione per fade */
}

h1, h2 {
    color: #2a997f;
}

form {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra il contenuto orizzontalmente */
}

form input,
form select {
    width: 100%;
    padding: 8px;
    margin: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #28a789;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: center; /* Centra il bottone orizzontalmente */
}

form button:hover {
    background-color: #1b6a55;
}

#expenseList {
    list-style-type: none;
    padding: 0;
    width: 80%;
    max-width: 600px;
}

#expenseList li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#expenseList li:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Dark Mode */
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 8px 8px;
    background-color: #4a4a4a;
    color: #ffd072;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Effetto di animazione per il pulsante */
.dark-mode-toggle:active {
    transform: scale(0.70);
}

body.dark-mode {
    background-color: #181818;
    color: #e0e0e0;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transizione per fade */
}

body.dark-mode h1, 
body.dark-mode h2 {
    color: #ffd072;
}

body.dark-mode form {
    background-color: #2c2c2c;
    border-color: #444;
}

body.dark-mode form input,
body.dark-mode form select {
    background-color: #333;
    color: #e0e0e0;
    border-color: #444;
}

body.dark-mode form button {
    background-color: #c9874e;
}

body.dark-mode form button:hover {
    background-color: #965936;
}

body.dark-mode #expenseList li {
    background-color: #323232;
    border-color: #444;
}

body.dark-mode #expenseList li:nth-child(odd) {
    background-color: #1c1c1c;
}
